@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Nunito:wght@200&display=swap");
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  background-image: linear-gradient(96.5deg, rgb(39, 103, 187) 10.4%, rgb(16, 72, 144) 87.7%);
  border-radius: 12px;
}
header nav, header nav ul {
  height: inherit;
  width: 90vw;
}
header nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
}
header nav ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 17%;
  font-size: 1.7rem;
  transition: all 0.3s ease-in;
}
header nav ul li:nth-child(1) {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
header nav ul li a {
  text-decoration: none;
  color: inherit;
}
header .logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 7vw;
  height: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: all 0.3s ease-in;
}
header .logo a img {
  width: 7vh;
}

.hover:hover, header nav ul li:hover, header .logo:hover {
  cursor: pointer;
  background-color: #0e3d7a;
  transition: all 0.3s ease-in;
}

footer {
  position: absolute;
  bottom: -2vh;
  left: 43%;
}
footer a {
  color: inherit;
}

@-webkit-keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.index-main {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1.5vh;
  gap: 1.5vw;
}
.index-main section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 83vh;
  width: 32vw;
  padding: 18px 25px;
}
.index-main section:nth-child(1) {
  border-radius: 25px;
  background-image: radial-gradient(circle 860px at 11.8% 33.5%, rgb(240, 30, 92) 0%, rgb(244, 49, 74) 30.5%, rgb(249, 75, 37) 56.1%, rgb(250, 88, 19) 75.6%, rgb(253, 102, 2) 100.2%);
  box-shadow: 5px 5px 10px #132439, -5px -5px 10px #19304d;
}
.index-main section:nth-child(2) {
  border-radius: 25px;
  background-image: linear-gradient(178.9deg, rgb(176, 57, 105) 5.1%, rgb(229, 113, 159) 109.3%);
  box-shadow: 5px 5px 10px #132439, -5px -5px 10px #19304d;
}
.index-main section .info-material, .index-main section .info-usuario {
  background-color: #19304d;
  border-radius: 20px;
  margin-top: 2vh;
  width: 30vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5vh;
  height: 13vw;
}
.index-main section .info-material a img, .index-main section .info-usuario a img {
  margin-top: 0.8vh;
  height: 13vw;
  border-radius: 20px;
  transition: 0.7s ease all;
}
.index-main section .info-material a img:hover, .index-main section .info-usuario a img:hover {
  cursor: pointer;
  transform: scale(1.5);
  transform-origin: 0% 50%;
  transition: 0.7s ease all;
  transition-delay: 0s;
}
.index-main section .info-material .info, .index-main section .info-usuario .info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
  height: 13vw;
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  margin-right: 1vw;
}
.index-main section .info-usuario {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: repeat(3, 1fr);
  height: 19vw;
  font-size: 1.2rem;
  padding: 2vw;
}
.index-main section .info-usuario .div1 {
  grid-area: 1/1/2/2;
}
.index-main section .info-usuario .div2 {
  grid-area: 1/2/2/3;
  text-align: center;
  font-weight: bolder;
}
.index-main section .info-usuario .div3 {
  grid-area: 2/1/3/2;
}
.index-main section .info-usuario .div4 {
  grid-area: 2/2/3/3;
  text-align: center;
  font-weight: bolder;
}
.index-main section .info-usuario .div5 {
  grid-area: 3/1/4/2;
}
.index-main section .info-usuario .div6 {
  grid-area: 3/2/4/3;
  text-align: center;
  font-weight: bolder;
}
.index-main .vinyl {
  -webkit-animation: rotate-center 4s linear infinite both;
          animation: rotate-center 4s linear infinite both;
  width: 320px;
  height: 320px;
  position: absolute;
  right: 6vw;
  top: 30vh;
  margin: 19px auto;
  border-radius: 50%;
  background: linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, 0.85) 40%) no-repeat 100% 0, linear-gradient(60deg, rgba(42, 41, 40, 0.85) 60%, transparent 60%) no-repeat 0 100%, repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
  background-size: 50% 100%, 100% 50%, 100% 100%;
}
.index-main .vinyl::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px;
  border: solid 1px #d9a388;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #da5b33, inset 0 0 0 27px #da5b33;
  background: #b5ac9a;
  content: "";
}

.list-main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 1vw;
}
.list-main .columna {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.list-main .columna .album, .list-main .columna .album-pink, .list-main .columna .album-grey, .list-main .columna .album-lightblue, .list-main .columna .album-yellow, .list-main .columna .album-purple, .list-main .columna .album-red {
  width: 31.5vw;
  height: 30vh;
  border-radius: 20px;
  padding: 18px 1vw;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.list-main .columna .album a img, .list-main .columna .album-pink a img, .list-main .columna .album-grey a img, .list-main .columna .album-lightblue a img, .list-main .columna .album-yellow a img, .list-main .columna .album-purple a img, .list-main .columna .album-red a img {
  margin-top: 0.8vh;
  height: 12vw;
  border-radius: 15px;
  transition: 0.7s ease all;
}
.list-main .columna .album a img:hover, .list-main .columna .album-pink a img:hover, .list-main .columna .album-grey a img:hover, .list-main .columna .album-lightblue a img:hover, .list-main .columna .album-yellow a img:hover, .list-main .columna .album-purple a img:hover, .list-main .columna .album-red a img:hover {
  cursor: pointer;
  transform: scale(1.17);
  transform-origin: 0% 50%;
  transition: 0.7s ease all;
  transition-delay: 0s;
}
.list-main .columna .album div, .list-main .columna .album-pink div, .list-main .columna .album-grey div, .list-main .columna .album-lightblue div, .list-main .columna .album-yellow div, .list-main .columna .album-purple div, .list-main .columna .album-red div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  font-size: 1.2rem;
  text-align: center;
  width: 20vw;
}
.list-main .columna .album-red {
  background-image: radial-gradient(circle 860px at 11.8% 33.5%, rgb(240, 30, 92) 0%, rgb(244, 49, 74) 30.5%, rgb(249, 75, 37) 56.1%, rgb(250, 88, 19) 75.6%, rgb(253, 102, 2) 100.2%);
  border-radius: 25px;
  background-image: #f4314a;
  box-shadow: 5px 5px 10px #132439, -5px -5px 10px #19304d;
}
.list-main .columna .album-purple {
  background-image: linear-gradient(109.6deg, rgb(118, 12, 99) 11.2%, rgb(71, 11, 75) 98.6%);
  border-radius: 25px;
  background-image: #470b4b;
  box-shadow: 5px 5px 10px #132439, -5px -5px 10px #19304d;
}
.list-main .columna .album-yellow {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 209, 67) 0%, rgb(255, 145, 83) 90%);
  border-radius: 25px;
  background-image: #ffd143;
  box-shadow: 5px 5px 10px #132439, -5px -5px 10px #19304d;
}
.list-main .columna .album-lightblue {
  background-image: linear-gradient(109.6deg, rgb(24, 138, 141) 11.2%, rgb(96, 221, 142) 91.1%);
  border-radius: 25px;
  background-image: #515473;
  box-shadow: 5px 5px 10px #132439, -5px -5px 10px #19304d;
}
.list-main .columna .album-grey {
  background-image: linear-gradient(94.3deg, rgb(26, 33, 64) 10.9%, rgb(81, 84, 115) 87.1%);
  border-radius: 25px;
  background-image: #60dd8e;
  box-shadow: 5px 5px 10px #132439, -5px -5px 10px #19304d;
}
.list-main .columna .album-pink {
  background-image: linear-gradient(178.9deg, rgb(176, 57, 105) 5.1%, rgb(229, 113, 159) 109.3%);
  border-radius: 25px;
  background-image: #b03969;
  box-shadow: 5px 5px 10px #132439, -5px -5px 10px #19304d;
}

body {
  display: flex;
  flex-direction: column;
  padding: 1.5vh;
  position: relative;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(22, 42, 67);
}

::-webkit-scrollbar-thumb {
  background: rgb(16, 72, 144);
}

@media screen and (max-width: 426px) {
  body {
    display: none;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: rgb(22, 42, 67);
  color: white;
}/*# sourceMappingURL=main.css.map */