@use "../components/mixins";

$background: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );

header {
    @include mixins.flex-container(row, space-between, center);
    height: 10vh;
    background-image: $background;
    border-radius: 12px;
    nav {
        height: inherit;
        width: 90vw;
        ul {
            @extend nav;
            @include mixins.flex-container(row,flex-start,center);
            list-style-type: none;
            li {
                @include mixins.flex-container(row,center,center);
                height: 100%;
                width: 17%;
                font-size: 1.7rem;
                &:nth-child(1) {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }                
                @extend .hover;
                transition: all 0.3s ease-in;
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
    .logo {
        @include mixins.flex-container(row,center,center);
        @extend .hover;
        width: 7vw;
        height: 100%;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        transition: all 0.3s ease-in;
        a img {
            width: 7vh;
        }
    }
}

.hover:hover {
    cursor: pointer;
    background-color: #0e3d7a;
    transition: all 0.3s ease-in;
}