@use "../components/mixins";
@use "../components/colors";

.list-main {
    @include mixins.flex-container(row,space-around,center);
    gap: 1vw;
    .columna {
        @include mixins.flex-container(column,space-around,center);
        .album {
            width: 31.5vw;
            height: 30vh;
            border-radius: 20px;
            padding: 18px 1vw;
            margin-top: 1vw;
            @include mixins.flex-container(row,space-between,center);
            a img {
                margin-top: 0.8vh;
                height: 12vw;
                border-radius: 15px;
                transition: 0.7s ease all;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.17);
                    transform-origin: 0% 50%;
                    transition: 0.7s ease all;
                    transition-delay: 0s;
                }
            }
            div {
                @include mixins.flex-container(column,center,center);
                gap: 2vh;
                font-size: 1.2rem;
                text-align: center;
                width: 20vw;
            }
            &-red { 
                @extend .album; 
                background-image: colors.$gradient_red; 
                @include mixins.neomorph(#f4314a);
            }
            &-purple { 
                @extend .album; 
                background-image: colors.$gradient_purple; 
                @include mixins.neomorph(#470b4b);
            }
            &-yellow { 
                @extend .album; 
                background-image: colors.$gradient_yellow;
                @include mixins.neomorph(#ffd143);
            }
            &-lightblue { 
                @extend .album; 
                background-image: colors.$gradient_lightblue;
                @include mixins.neomorph(#515473);
            }
            &-grey { 
                @extend .album; 
                background-image: colors.$gradient_grey;
                @include mixins.neomorph(#60dd8e);
            }
            &-pink {
                @extend .album;
                background-image: colors.$gradient_pink;
                @include mixins.neomorph(#b03969);
            }
        }
    }
}