@use "../components/mixins";

$background: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );

main {
    @include mixins.flex-container(row,space-between,flex-start);
    margin-top: 1.5vh;
    section {
        @include mixins.flex-container(column,flex-start,center);
        @include mixins.neomorph($background,#132439,#19304d);
        height: 83vh;
        width: 32vw;
        padding: 18px 25px;
        .info-material {
            background-color: #19304d;
            border-radius: 20px;
            margin-top: 2vh;
            width: 30vw;
            @include mixins.flex-container(row,space-between,center);
            gap: 1.5vh;
            height: 13vw;
            img {
                height: 13vw;
                border-radius: 20px;
            }
            .info {
                @include mixins.flex-container(column,center,center);
                gap: 3vh;
                height: 13vw;
                width: 50%;
                font-size: 1.2rem;
                text-align: center
            }
        }
        .info-usuario {
            @extend .info-material;
            @include mixins.flex-container(column,space-around,center);
            height: 19vw;
        }
    }
}