@use "../components/mixins";
@use "../components/animations";

$background: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );

main {
    @include mixins.flex-container(row,flex-start,flex-start);
    margin-top: 1.5vh;
    gap: 1.5vw;
    section {
        @include mixins.flex-container(column,flex-start,center);
        @include mixins.neomorph($background,#132439,#19304d);
        height: 83vh;
        width: 32vw;
        padding: 18px 25px;
        .info-material {
            background-color: #19304d;
            border-radius: 20px;
            margin-top: 2vh;
            width: 30vw;
            @include mixins.flex-container(row,space-between,center);
            gap: 1.5vh;
            height: 13vw;
            a img {
                margin-top: 0.8vh;
                height: 13vw;
                border-radius: 20px;
                transition: 0.7s ease all;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.5);
                    transform-origin: 0% 50%;
                    transition: 0.7s ease all;
                    transition-delay: 0s;
                }
            }
            .info {
                @include mixins.flex-container(column,center,center);
                gap: 3vh;
                height: 13vw;
                width: 50%;
                font-size: 1.2rem;
                text-align: center;
                margin-right: 1vw;
            }
        }
        .info-usuario {
            @extend .info-material;
            display: grid;
            grid-template-columns: 1fr 0.70fr;
            grid-template-rows: repeat(3, 1fr);
            height: 19vw;
            font-size: 1.2rem;
            padding: 2vw;
            .div1 { grid-area: 1 / 1 / 2 / 2; }
            .div2 { grid-area: 1 / 2 / 2 / 3; text-align: center; font-weight: bolder;}
            .div3 { grid-area: 2 / 1 / 3 / 2; }
            .div4 { grid-area: 2 / 2 / 3 / 3; text-align: center; font-weight: bolder;}
            .div5 { grid-area: 3 / 1 / 4 / 2; }
            .div6 { grid-area: 3 / 2 / 4 / 3; text-align: center; font-weight: bolder;}
        }
    }
    .vinyl {
        animation: rotate-center 4s linear infinite both;
        width: 320px;
        height: 320px;
        position: absolute;
        right: 6vw;
        top: 30vh;
        margin: 19px auto;
        border-radius: 50%;
        background: 
        linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0,
        linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 60%) no-repeat 0 100%,
        repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
        background-size: 50% 100%, 100% 50%, 100% 100%;
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -35px;
            border: solid 1px #d9a388;
            width: 68px; height: 68px;
            border-radius: 50%;
            box-shadow: 0 0 0 4px #da5b33,
              inset 0 0 0 27px #da5b33;
            background: #b5ac9a;
            content: '';
        }
    }
}