@mixin flex-container ($direction: row, $space: around, $items: center) {
    display: flex;
    align-items: $items;
    flex-direction: $direction;
    justify-content: $space;    
}

@mixin neomorph ($background) {
    border-radius: 25px;
    background-image: $background;
    box-shadow:  5px 5px 10px #132439, -5px -5px 10px #19304d;
}